<template>
  <v-container fluid>
    <v-form>
      <v-row dense>
        <v-col cols="12" md="6" offset-md="3">
          <VeeInputText
            v-model="email"
            outlined
            rules="required|email"
            prepend-inner-icon="mdi-email"
            label="Email"
          ></VeeInputText>
        </v-col>
        <v-col cols="12" md="6" offset-md="3">
          <VeeInputText
            v-model="password"
            outlined
            rules="required|min:5|max:10"
            prepend-inner-icon="mdi-key"
            :counter="40"
            label="Password"
          ></VeeInputText>
        </v-col>

        <v-col cols="12" class="d-flex justify-center order-md-9">
          <div>
          </div>
        </v-col>
        <v-col cols="12" class="d-flex justify-center order-md-10">
          <br />
          <v-btn @click="clear">
            Clear
          </v-btn>
          <v-btn
            :loading="sending"
            color="success"
            class="ml-4"
            :disabled="((invalid !== false || captchaResponse === null) ? true : false)"
            @click="passes(sendMessage)"
          >
            Send Message
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </v-container>
</template>

<script>

import axios from 'axios';
// import VeeInputSelect from '@/components/inputs/VeeInputSelect';
import VeeInputText from '@/components/inputs/VeeInputText';
export default {
  components: {

    VeeInputText,
  },
  data() {
    return {
      email: '',
      password: '',
      sitekey: 'asdasdasd',
      captchaResponse: null,
      sending: false,
      loading: false,
    };
  },
  methods: {
    setCaptchResponse(response) {
      this.captchaResponse = response;
    },

    clear() {
      // console.log('clear form');
      this.$store.dispatch('clearForm');

      requestAnimationFrame(() => {
        this.$refs.orderForm.reset();
      });
    },

    async sendMessage() {
      if (this.captchaResponse === null) {
        return false;
      }

      this.sending = true;

      const postData = {
        username: this.name,
        password: this.number,
        captcha: this.captchaResponse,
      };

      const config = {
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
        },
      };

      try {
        const { data } = await axios.post('/login/process', postData, config);
        this.sendErrorMsg = data;
        this.sending = false;
        this.messageSent = true;
      } catch (error) {
        this.sendErrorMsg = error;
        this.sending = false;
        this.messageError = true;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
