<template>
  <div>
    <v-card class="mb-3">
      <v-card-title>
        <nuxt-link :to="'/read/' + slug">
          {{ title }}
        </nuxt-link>
        <template v-if="admin">
          <v-spacer></v-spacer>
          <v-btn text fab @click="deletePost = true">
            <v-icon>mdi-trash-can-outline</v-icon>
          </v-btn>
          <v-btn text fab @click="editPost = true">
            <v-icon>mdi-file-document-edit-outline</v-icon>
          </v-btn>
        </template>
      </v-card-title>

      <v-card-text class="black--text headline">
        {{ body }}
      </v-card-text>
      <v-card-actions class="px-5">
        Author: {{ author }} <v-spacer></v-spacer> {{ theDate }}
      </v-card-actions>
    </v-card>

    <v-dialog
      v-model="deletePost"
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline">
          Please Confirm
        </v-card-title>

        <v-card-text>
          Are you sure you want to delete this post?
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn color="success" @click="$emit('deletePost', postid)">
            DELETE
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="editPost"
      max-width="400"
    >
      <v-container white>
        <v-row>
          <v-col cols="12">
            <h1>Edit Post</h1>
          </v-col>
          <v-col cols="12">
            <v-text-field id="postTitle" v-model="title" outlined label="Title"></v-text-field>
          </v-col>
          <v-col cols="12">
            <v-textarea id="postBody" v-model="body" outlined label="Article"></v-textarea>
          </v-col>
          <v-col cols="12">
            <v-textarea id="postAuthor" v-model="author" outlined label="Author"></v-textarea>
          </v-col>
          <v-col class="d-flex" cols="12">
            <v-btn color="info">
              Clear
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn :loding="sending" color="success" @click="$emit('editPost', postid, title, body, author)">
              Edit Post
            </v-btn>
          </v-col>
        </v-row>
      </v-container>
    </v-dialog>
  </div>
</template>

<script>
import { format } from 'date-fns';
export default {
  props: {
    postid: {
      type: Number,
      default: null,
    },
    title: {
      type: String,
      default: '',
    },
    body: {
      type: String,
      default: '',
    },
    author: {
      type: String,
      default: '',
    },
    slug: {
      type: String,
      default: '',
    },
    created: {
      type: String,
      default: '1997',
    },
    admin: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      deletePost: false,
      editPost: false,
      sending: '',
      post: {
        title: '',
        body: '',
      },
    };
  },
  computed: {
    theDate() {
      return format(new Date(this.created), 'PPpp');
    },
  },
};
</script>

<style lang="scss" scoped>

</style>
