<template>
  <v-container fluid elevation-10>
    <div class="d-flex mx-auto align-center" style="max-width: 1024px;">
      <div>
        <v-btn nuxt to="/" text>
          Home
        </v-btn>
      </div>

      <v-spacer></v-spacer>
      <div v-for="(item, i) in $store.state.menuItems" :key="i" class="ml-2">
        <v-btn nuxt :to="item.link" text>
          {{ item.name }}
        </v-btn>
      </div>
      <div class="ml-2">
        <v-btn nuxt to="/dashboard/new-post">
          New Post
        </v-btn>
      </div>
      <!--
      <div>
        <v-btn class="ml-2" nuxt to="/auth" color="success">
          Login
        </v-btn>
      </div>
      <div>
        <v-btn class="ml-2" nuxt to="/auth/signup" color="info">
          Signup
        </v-btn>
      </div> -->
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {
      title: process.env.APP_NAME,
    };
  },

};
</script>

<style lang="scss" scoped>
</style>
