<template>
  <ValidationObserver ref="orderForm" v-slot="{ invalid, validated, passes, validate }">
    <v-container fluid>
      <v-form @submit.prevent="onSubmit">
        <v-row dense>
          <v-col cols="12" md="6" offset-md="3">
            <VeeInputText
              v-model="email"
              outlined
              rules="required|email"
              prepend-inner-icon="mdi-email"
              label="Email"
            ></VeeInputText>
          </v-col>
          <v-col cols="12" md="6" offset-md="3">
            <VeeInputText
              v-model="password"
              outlined
              rules="required|min:5|max:10"
              prepend-inner-icon="mdi-key"
              :counter="40"
              label="Password"
            ></VeeInputText>
          </v-col>
          <v-col cols="12" class="d-flex justify-center order-md-9">
            <div>
              <recaptcha
                @error="onError"
                @success="onSuccess"
                @expired="onExpired"
              ></recaptcha>
            </div>
          </v-col>
          <v-col cols="12" class="d-flex justify-center order-md-10">
            <br />
            <v-btn @click="clear">
              Clear
            </v-btn>
            <v-btn
              :loading="sending"
              color="success"
              class="ml-4"
              :disabled="((invalid !== false || captchaResponse === null) ? true : false)"
              @click="passes(sendMessage)"
            >
              Send Message
            </v-btn>
          </v-col>
        </v-row>
      </v-form>
    </v-container>
  </ValidationObserver>
</template>

<script>
import { ValidationObserver } from 'vee-validate';
import axios from 'axios';
import VeeInputText from '@/components/inputs/VeeInputText';
export default {
  components: {
    VeeInputText,
    ValidationObserver,
  },
  data() {
    return {
      title: 'Login',
      email: '',
      password: '',
      sitekey: 'asdasdasd',
      respose: '',
      captchaResponse: null,
      sending: false,
      loading: false,

      // 6Ld6hbgUAAAAAA-EvN5kuD5jxtZIF-RqkBZOSmnm
    };
  },
  methods: {
    onError(error) {
      console.log('Error happened:', error);
    },
    async onSubmit() {
      try {
        const token = await this.$recaptcha.getResponse();
        console.log('ReCaptcha token:', token);
      } catch (error) {
        console.log('Login error:', error);
      }
    },
    onSuccess(token) {
      console.log('Succeeded:', token);
    },
    onExpired() {
      console.log('Expired');
    },
    setCaptchResponse(response) {
      this.captchaResponse = response;
    },

    clear() {
      requestAnimationFrame(() => {
        this.$refs.orderForm.reset();
      });
    },

    async sendMessage() {
      if (this.captchaResponse === null) {
        return false;
      }

      this.sending = true;

      const postData = {

        email: this.email,
        password: this.password,

        captcha: this.captchaResponse,
      };

      const config = {
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          'Access-Control-Allow-Origin': '*',
          'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS',
        },
      };

      try {
        const { data } = await axios.post('https://cebuicecream.com/smsmail/sendsmsmail.php', postData, config);
        this.response = data;
        this.sending = false;
        this.messageSent = true;
      } catch (error) {
        this.sendErrorMsg = error;
        this.sending = false;
        this.messageError = true;
      }
    },
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.title },
        { hid: 'keywords', name: 'keywords', content: this.title },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
