<template>
  <div>{{ data }}</div>
</template>

<script>
export default {
  asyncData({ params, query, error, req }) {
    return {
      data: { param: params, query, req },
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
