<template>
  <div>
    <SinglePost
      :postid="data.id"
      :title="data.title"
      :slug="data.urlSlug"
      :body="data.body"
      :author="data.author"
      :created="data.createdAt"
      :admin="false"
    ></SinglePost>
    {{ data.postData }}
  </div>
</template>

<script>
import axios from 'axios';
import SinglePost from '@/components/SinglePost';
export default {
  components: {
    SinglePost,
  },
  data() {
    return {
      title: 'Technology',
    };
  },
  async asyncData({ params, query, error }) {
    const url = '/api/post/' + params.slug;

    console.log(url);
    try {
      const { data } = await axios.get(url);

      if (data.length === 0) {
        throw new Error('Post not found.');
      }

      if (data.length > 1) {
        throw new Error('Too much data fetched.');
      }

      return {
        data: data.postData,
      };
    } catch (e) {
      console.log(e);
      error({ statusCode: 404, message: e });
    }
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.title },
        { hid: 'keywords', name: 'keywords', content: this.title },
      ],
    };
  },
  layout: 'api',
};
</script>

<style lang="scss" scoped>
</style>
