<template>
  <v-app>
    <TheMenu></TheMenu>

    <v-content>
      <v-container style="max-width: 1024px;">
        <nuxt></nuxt>
      </v-container>
    </v-content>
    <TheAdminNavigation></TheAdminNavigation>
  </v-app>
</template>

<script>
import TheMenu from '@/components/TheMenu';
import TheAdminNavigation from '@/components/admin/TheAdminNavigation';
export default {
  components: {
    TheAdminNavigation,
    TheMenu,
  },
  data() {
    return {
      clipped: false,

      drawer: false,
      fixed: false,
      items: [
        {
          icon: 'mdi-apps',
          title: 'Welcome',
          to: '/',
        },
        {
          icon: 'mdi-chart-bubble',
          title: 'Inspire',
          to: '/inspire',
        },
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js',
    };
  },
};
</script>
<style lang="scss">
  a {
    text-decoration: none;
  }
</style>
