<template>
  <div>
    <h1>{{ title }}</h1>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, illum dolorem culpa maxime unde accusantium placeat possimus aperiam quo quaerat vero inventore corporis officia cupiditate quos eligendi ea excepturi voluptatem, laudantium ipsum. Fugit quas velit officiis quasi possimus ex vitae nesciunt obcaecati minima? Reprehenderit unde quae molestias veritatis sed ipsum quidem eligendi nemo fugit facilis modi error quos officia, pariatur enim optio commodi eaque dolores esse odit maiores, minus mollitia! Itaque eius repudiandae rem explicabo! Suscipit, tenetur pariatur ab minima doloribus iste qui natus eveniet cumque distinctio consequatur dignissimos quia unde quo maiores iure. Nulla quia qui nihil voluptatem blanditiis voluptatum, sunt tenetur vel deserunt eos. Ex recusandae deserunt natus nostrum corrupti, amet adipisci eligendi quas, dolore repudiandae excepturi possimus eius voluptatibus iste placeat, debitis rerum odit praesentium expedita eaque perspiciatis at cupiditate. Eveniet, magnam, cumque nisi neque eligendi molestiae maxime hic sint quam at iste modi. Architecto magni dicta molestiae quia ab consequuntur laudantium quas, esse labore, quibusdam at sit sint quae delectus, officiis officia. Libero hic iste quam mollitia similique aperiam eius consequatur accusamus! Consectetur, voluptates a architecto cumque laudantium nisi modi adipisci ipsa similique doloremque odit ea obcaecati veniam rem, quo fugiat ratione molestias enim error repellat! Assumenda delectus facere, laboriosam perferendis rerum velit quis atque? Rerum a nam ipsum autem dolorum facilis minus totam consequatur unde sit nulla harum illo quisquam debitis inventore animi iure, eligendi eum cupiditate, laborum, obcaecati iusto pariatur. Fugit corporis harum fuga doloremque sit assumenda nesciunt, cumque, itaque nulla ducimus ab error nemo qui eveniet hic porro quia aperiam nisi? Nesciunt magni saepe molestiae fugiat harum voluptatum enim, reprehenderit aut corrupti dicta soluta iure obcaecati odio illo distinctio! Delectus placeat repudiandae, dolorem illum tenetur molestias alias voluptatum debitis similique perferendis, vel facere. Blanditiis ratione dolores voluptate veritatis commodi culpa amet doloremque, iusto qui pariatur animi deserunt hic incidunt corporis expedita numquam, enim, consequatur architecto? A fugit maiores animi vero nisi autem velit? Maxime deleniti recusandae magnam non corporis nisi necessitatibus rem sit consequuntur. Culpa deserunt eveniet repellendus, suscipit omnis inventore ipsam odio dolorem blanditiis a excepturi, provident nostrum rerum quaerat in odit possimus. Non sunt laborum mollitia et molestias reiciendis, eos quod nobis iure officia inventore amet iusto repellat doloribus eaque animi, quibusdam voluptate delectus odit maxime. Unde ab inventore nostrum a possimus dolorem atque perspiciatis quis nisi. Tempora ad quos consectetur inventore iusto, animi consequuntur beatae adipisci fuga eius, ea tenetur.
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'About',
    };
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.title },
        { hid: 'keywords', name: 'keywords', content: this.title },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
