<template>
  <v-navigation-drawer v-model="show" app class="grey lighten-2" dark>
    <v-list>
      <nuxt-link v-for="item in items" :key="item.title" :to="item.link">
        <v-list-item link>
          <v-list-item-icon>
            <v-icon color="black">
              {{ item.icon }}
            </v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title class="black--text">
              {{ item.title }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </nuxt-link>
    </v-list>

    <div class="pa-2">
      <v-btn nuxt to="/auth/logout" block @click="show = !show">
        Logout
      </v-btn>
    </div>
  </v-navigation-drawer>
</template>

<script>
export default {
  data() {
    return {
      show: false,
      items: [
        { title: 'Dashboard', icon: 'dashboard', link: '/dashboard' },
        { title: 'New Post', icon: 'mdi-file-document-outline', link: '/dashboard/new-post' },
        { title: 'My Articles', icon: 'mdi-file-document-box-multiple-outline', link: '/dashboard/my-articles' },

      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
