<template>
  <div>
    <h1>{{ title }}</h1>

    <v-pagination
      v-model="page"
      :length="pageCount"
      next-icon="mdi-chevron-right"
      prev-icon="mdi-chevron-left"
      :page="page"
      total-visible="9"
      @input="getPaginatedData"
    ></v-pagination>

    <SinglePost
      v-for="(item, i) in postData"
      :key="i"
      :title="item.title"
      :body="item.body"
      :author="item.author"
      :created="item.createdAt"
      :admin="false"
    ></SinglePost>
  </div>
</template>

<script>
import axios from 'axios';
import _ from 'lodash';
import SinglePost from '@/components/SinglePost';
export default {
  components: {
    SinglePost,
  },
  data() {
    return {
      title: 'Home Page',
      posts: null,
      episodes: null,
      page: 1,
      postsPerPage: 5,
      pageCount: 0,

    };
  },
  computed: {
    allPosts() {
      const data = Object.keys(this.posts).map(pid => this.posts[pid]);
      return _.reverse(data);
    },
    getPage({ query }) {
      return query.page || 1;
    },
  },
  async asyncData({ params, query, error }) {
    const page = query.page || 1;
    // let posts;
    let postsCount;
    let pageCount;
    const postsPerPage = 5;
    try {
      const { data } = await axios.get(
        'http://blog.acemaranga.com/api/post/all'
      );

      postsCount = data.postData.length;
      console.log('post csount ' + postsCount);

      if (postsCount === 0) {
        throw new Error('no posts fetched');
      }

      pageCount = Math.floor(postsCount / postsPerPage);

      console.log('page count ' + pageCount);

      const paginated = _.reverse(data.postData);

      const start = page * postsPerPage - postsPerPage;
      const end = start + postsPerPage;
      // return paginated;

      return {
        postData: paginated.slice(start, end),
        postsCount,
        pageCount,

      };
    } catch (e) {
      console.log(e);
      error({ statusCode: 404, message: e });
    }
  },
  methods: {
    async getPaginatedData() {
      this.$root.$loading.start();
      const url = 'http://blog.acemaranga.com/api/post/all';
      console.log('asdasd' + url);
      try {
        this.$router.push({ path: this.$route.path, query: { page: this.page } });

        const { data } = await axios.get(url);

        this.postsCount = data.postData.length;
        console.log('post count ' + this.postCount);

        if (this.postsCount === 0) {
          throw new Error('no posts fetched');
        }

        this.pageCount = Math.ceil(this.postsCount / this.postsPerPage);

        console.log('page count ' + this.pageCount);

        const paginated = _.reverse(data.postData);

        const start = this.page * this.postsPerPage - this.postsPerPage;
        const end = start + this.postsPerPage;
        // return paginated;

        this.postData = paginated.slice(start, end);
        this.$root.$loading.finish();
      } catch (e) {
        console.log(e);
        // error({ statusCode: 404, message: e });
      }
    },
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.title },
        { hid: 'keywords', name: 'keywords', content: this.title },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
