<template>
  <div>
    <h1>{{ title }} ({{ postsCount }})</h1>
    <v-pagination
      v-model="page"
      :length="pageCount"
      next-icon="mdi-chevron-right"
      prev-icon="mdi-chevron-left"
      :page="page"
      total-visible="9"
      @input="getPaginatedData"
    ></v-pagination>

    <SinglePost
      v-for="(item, i) in posts"
      :key="i"
      :postid="item.id"
      :title="item.title"
      :slug="item.urlSlug"
      :body="item.body"
      :author="item.author"
      :created="item.createdAt"
      :admin="true"
      @deletePost="deletePost"
      @editPost="editPost"
    ></SinglePost>
  </div>
</template>

<script>
import _ from 'lodash';
import axios from 'axios';
import SinglePost from '@/components/SinglePost';
export default {
  components: {
    SinglePost,
  },
  data() {
    return {
      title: 'My Articles',
      posts: null,
      episodes: null,
      page: 1,
      postsPerPage: 5,
      pageCount: 0,
      postsCount: null,
      response: '',
    };
  },
  head() {
    return {
      title: this.title,
      meta: [
        { hid: 'description', name: 'description', content: this.title },
        { hid: 'keywords', name: 'keywords', content: this.title },
      ],
    };
  },
  mounted() {
    setTimeout(() => {
      this.getPaginatedData();
    }, 500);
  },
  methods: {
    async deletePost(id) {
      try {
        // alert('deleting post with id: ' + id);
        const { data } = await axios.delete('/api/post/' + id);
        console.log(data);
      } catch (e) {
        console.log(e);
        // error({ statusCode: 404, message: e });
      }
    },
    async editPost(id, title, body, author) {
      const post = {
        title,
        body,
        author,
      };
      try {
        // alert('deleting post with id: ' + id);
        const { data } = await axios.patch('/api/post/' + id, post);
        console.log(data);
      } catch (e) {
        console.log(e);
        // error({ statusCode: 404, message: e });
      }
    },
    async getPaginatedData() {
      this.$root.$loading.start();
      const url = '/api/post/all';
      console.log(url);
      try {
        const { data } = await axios.get(url);

        // this.posts = data.postData;

        this.postsCount = data.postData.length;
        // console.log('post cossunt ' + this.postsCount);

        if (this.postsCount === 0) {
          throw new Error('no posts fetched');
        }

        this.pageCount = Math.ceil(this.postsCount / this.postsPerPage);

        // console.log('page count ' + this.pageCount);

        const paginated = _.reverse(data.postData);

        // console.log('page count ' + paginated);

        const start = this.page * this.postsPerPage - this.postsPerPage;
        const end = start + this.postsPerPage;
        // // return paginated;

        this.posts = paginated.slice(start, end);
        this.$root.$loading.finish();
      } catch (e) {
        console.log(e);
        // error({ statusCode: 404, message: e });
      }
    },
    onPageChange(newPage) {
      console.log('current page ' + this.getCurrentPage);
    },
  },
};
</script>

<style lang="scss" scoped>
</style>
