<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <h1>{{ componentTitle }}</h1>
      </v-col>
      <v-col cols="12" md="6" offset-md="3">
        <v-text-field id="postTitle" v-model="post.title" outlined label="Title"></v-text-field>
      </v-col>
      <v-col cols="12" md="6" offset-md="3">
        <v-textarea id="postBody" v-model="post.body" outlined label="Article"></v-textarea>
      </v-col>
      <v-col cols="12" md="6" offset-md="3">
        <v-text-field id="postAuthor" v-model="post.author" outlined label="Author"></v-text-field>
      </v-col>
      <v-col
        cols="12"
        md="6"
        offset-md="3"
        class="d-flex justify-center"
      >
        <div>
          <recaptcha
            @error="onError"
            @success="onSuccess"
            @expired="onExpired"
          ></recaptcha>
        </div>
      </v-col>

      <v-col class="d-flex" cols="12" md="6" offset-md="3">
        <v-btn color="info">
          Clear
        </v-btn>
        <v-spacer></v-spacer>
        <v-btn :loding="sending" color="success" @click="submit">
          Create New Post
        </v-btn>
      </v-col>

      <v-col class="d-flex" cols="12" md="6" offset-md="3">
        {{ message }}
      </v-col>
    </v-row>

    <v-dialog
      v-model="dialog"
      max-width="400"
    >
      <v-card>
        <v-card-title class="headline">
          Created New Post
        </v-card-title>

        <v-card-text>
          {{ message }}
        </v-card-text>

        <v-card-actions>
          <div class="flex-grow-1"></div>

          <v-btn color="success" @click="dialog = false">
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>

    </v-dialog>
  </v-container>
</template>

<script>
import axios from 'axios';
export default {
  data() {
    return {
      componentTitle: 'New Post',
      post: {
        title: '',
        body: '',
        author: '',

      },
      message: '',
      sending: false,
      dialog: false,
    };
  },
  methods: {
    async submit() {
      this.sending = true;
      if (this.postTitle === '') {
        console.log('empty');
        return false;
      }

      try {
        const { data } = await axios.post('/api/post/new', this.post);
        this.message = data;
        if (data) {
          this.dialog = true;
        }

        this.sending = false;
      } catch (error) {
        this.sending = false;
        this.response = error;
      }
    },
    onError(error) {
      console.log('Error happened:', error);
    },
    async onSubmit() {
      try {
        const token = await this.$recaptcha.getResponse();
        console.log('ReCaptcha token:', token);
      } catch (error) {
        console.log('Login error:', error);
      }
    },
    onSuccess(token) {
      console.log('Succeeded:', token);
    },
    onExpired() {
      console.log('Expired');
    },

  },
  head() {
    return {
      title: this.componentTitle,
      meta: [
        { hid: 'description', name: 'description', content: this.componentTitle },
        { hid: 'keywords', name: 'keywords', content: this.componentTitle },
      ],
    };
  },
};
</script>

<style lang="scss" scoped>
</style>
